body {
    padding-top: 60px;
    padding-bottom: 40px;
}

table {
    table-layout: auto;
}

.col-shrink {
    white-space: nowrap;
    width: 1%;
}

.col-wide {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.col-narrow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    width: 20%;
}

.sortColumn:hover {
    cursor: pointer;
    color: #005580;
}

.edit-form {
    display: inline-block;
    margin-bottom: 0;
}

.delete-form {
    margin-bottom: 0;
    float: right;
}
