body {
    padding-top: 60px;
    padding-bottom: 40px;
}

table {
    table-layout: fixed;
}

.hide-overflow {
    overflow: hidden;
}

.sortColumn:hover {
    cursor: pointer;
    color: #005580;
}

.edit-form {
    display: inline-block;
    margin-bottom: 0;
}

.delete-form {
    margin-bottom: 0;
    float: right;
}
