{% macro search_results() -%}
<div id="search-results" style="display:none" >
  <h2 id="title"></h2>
  <table class="table table-striped table-bordered table-condensed">
    <colgroup width="100">
    <colgroup width="100">
    <colgroup width="400">
    <thead>
      <tr>
        <th>Shortcut</th>
        <th>Owner</th>
        <th>URL</th>
        <th>Secondary URL</th>
        <th>Hits</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{%- endmacro %}
